.header-topo {
    width: 100%;
    height: 75px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #21ce9c;
}

.header-logo {
    position: absolute;
    left: 2.5%;
    letter-spacing: 2px;
    font-size: 48px;
    color: white;
}

.search-bar {
    position: absolute;
    right: 27.5%;
}

.search-bar input {
    width: 400px;
    height: 100%;
}

.btn-login-registro {
    position: absolute;
    right: 10%;
    width: 15%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.btn-login-registro button {
    width: 45%;
    height: 100%;

    border: none;
    border-radius: 50px;
    background-color: #de3163;
    color: white;
    letter-spacing: 2px;
}

.btn-login-registro a {
    color: white;
    text-decoration: none;
}

.btn-modo {
    position: absolute;
    right: 2.5%;
}